@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using SoundCore.BlazorComponents.Features.Navigation.SideMenu.Models
@inject SoundCore.BlazorComponents.Features.Navigation.SideMenu.Services.ISideMenuService _sideMenuService;
@implements IDisposable

<SfSidebar Width="200px" Type="SidebarType.Push" IsOpen="true" >
    <ChildContent>
        <ul class="nav flex-column mt-4 ">
            <li class="nav-item px-3 ">
                <NavLink class="@ButtonClass(_sideMenuService.HomeButton)" href="" Match="NavLinkMatch.All" @onclick="() => _sideMenuService.HomeButtonClicked()">
                    <span class="fas fa-home mr-2"  aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="@ButtonClass(_sideMenuService.SchedulerButton)" href="\Scheduler" Match="NavLinkMatch.All" @onclick="() => _sideMenuService.ScheduleButtonClicked()">
                    <span class="fas fa-calendar-alt mr-2" aria-hidden="true"></span> Scheduler
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="@ButtonClass(_sideMenuService.RoomsButton)" href="\Rooms" Match="NavLinkMatch.All"  @onclick="() => _sideMenuService.RoomsButtonClicked()">
                    <span class="fas fa-shopping-cart mr-2" aria-hidden="true"></span> Rooms
                </NavLink>
            </li>
        </ul>
    </ChildContent>
</SfSidebar>


<style>
</style>

@code {

    private static string activeButton = "nav-link e-custom";
    private static string selectedButton = "nav-link e-custom selectedButton";

    public string ButtonClass(enumButtonState buttonState)
    {
        switch (buttonState)
        {
            case enumButtonState.Inactive:
                return string.Empty;
            case enumButtonState.Selected:
                return selectedButton;
            case enumButtonState.Active:
            case enumButtonState.NotDefined:
            default:
                return activeButton;
        }

    }


    void IDisposable.Dispose()
    {
        _sideMenuService.Dispose();
    }

    //hiromikikokaway
}


