@using SoundCore.Domain.Entities
@if (Room != null)
{
    <div class="card" style="width: 100%; min-height:150px!important">
        <div class="card-title">@Room.Name</div>
        <div class="card-body">
            <p class="card-text">@Room.Description</p>
        </div>
    </div>
    <button @onclick="Prova">PROVA</button>
  <Prova></Prova>
}


@code {


    [Parameter]
    public Room Room { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public void Prova()
    {
        this.StateHasChanged();
    }
}
